{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <style>
        div.content {
            /* temporary workaround of crbug.com/117102 */
            overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}
<section class="separator-brown" style="position: relative;">
    <h2>Error 404</h2>
</section>
<section class="content" style="min-height: calc( 100% - 168px - 183px ) !important; overflow: auto;">
    <p class="josefin medium-text">
        {{ errorCode }} {{ errorMessage }}
    </p>
    <p class="josefin medium-text">
        Oh No! This is terrible.
    </p>
    <p class="josefin medium-text">
        If you are wondering what to do from here, you have 2 options.<br/>
        1) If you entered the url by hand, make sure it is correct.<br/>
        2) you can return to the <a href="/">homepage</a> and start from there.<br/>
    </p>
    <p class="josefin medium-text">
        If you think this page should exist you can
        <a href="mailto:webmaster@rollaccf.org?subject=404%20error%20at%20{{ requestURL }}">email the webmaster</a>.
    </p>
</section>
{% endblock %}
