{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <style>
        div.content {
            /* temporary workaround of crbug.com/117102 */
            overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}
<section class="separator-brown" style="position: relative;">
    <h2>Error 500</h2>
</section>
<section class="content content-full" style="min-height: calc( 100% - 168px - 183px ) !important; overflow: auto;">
    <p class="garamond medium-text">{{ errorCode }} {{ errorMessage }}</p>
    <p class="garamond medium-text">Uh-Oh! Someone put a <span style="font-family: monospace">00110001</span> in the wrong place.</p>

    <p class="garamond medium-text">This might be a transient issue. Please go back and try again</p>

    <p class="garamond medium-text">
        If this error continues to happen, please
        <a href="mailto:webmaster@rollaccf.org?subject=500%20error%20at%20{{ requestURL }}">email the webmaster</a>.
        If we dont know about the problem, we cannot fix it.
    </p>
</section>
{% endblock %}
