<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{{ title }}{% endblock %}</title>
    {% block css %}
        <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Josefin+Sans|EB+Garamond" rel="stylesheet">
        <link type="text/css" rel="stylesheet" href="/stylesheets/navigation_dropdown.css?{{seconds}}"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/default.css?{{seconds}}"/>
        <link type="text/css" rel="stylesheet" href="/stylesheets/print.css" media="print"/>
    {% endblock %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <meta name="description" content="{% block meta %}Christian Fellowship and Housing in Rolla Missouri{% endblock %}"/>
    <meta name="keywords" content="Rolla CCF, Christian Campus Fellowship, Missouri S&amp;T, Missouri University of Science and Technology, Approved Student Housing"/>
    <meta name="google-site-verification" content="JjuJrgV7tJmL8c69KE7mSjeoUMonKsXBA0flIAIBpgI"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="text/javascript">

        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-32783827-1']);
        _gaq.push(['_trackPageview']);
        _gaq.push(['_trackPageLoadTime']);

        (function () {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script type="text/javascript">
        var $buoop = {c:2};
        function $buo_f(){
         var e = document.createElement("script");
         e.src = "//browser-update.org/update.js";
         document.body.appendChild(e);
        };
        try {document.addEventListener("DOMContentLoaded", $buo_f,false)}
        catch(e){window.attachEvent("onload", $buo_f)}
    </script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <!-- http://ricostacruz.com/jquery.transit/ -->
    <script src="/javascript/jquery.transit.min.js"></script>
    <script type="text/javascript">
        $(function() {
          $(document).scroll(function() {
            if ($(this).scrollTop() >= 106) {
              $("div.header").css({"position": "fixed", "top": "-108px"});
            }
            else {
              $("div.header").css({"position": "absolute", "top": "0px"});
            }
          });
          $(".spoiler").click(function() {
            $(this).children(".spoiler-content").slideToggle();

            var arrow = $(this).children(".spoiler-arrow");
            if (arrow.data("rotate") == "false" || !jQuery.hasData(arrow) == "")
              arrow.transition({ rotate: '0deg' }).data("rotate", "true");
            else
              arrow.transition({ rotate: '90deg' }).data("rotate", "false");
          });
        });
        function showPopupWindow(text) {
          $(".full-page-popup-background").show();
          $(".full-page-popup-box").show();
          $(".full-page-popup-box-text").show().html(text);
        }
        function hidePopupWindow(text) {
          $(".full-page-popup-background").fadeOut();
          $(".full-page-popup-box").fadeOut();
          $(".full-page-popup-box-text").fadeOut();
        }
    </script>
    {% block scripts %}
    {% endblock %}
</head>
<body>
<!--<div class="background-gradient">
<div class="background-image"> -->
        {% block pageHeader %}
            <div class="header header-solid">
                <table id="headerTable">
                    <tr>
                        <td  style="text-align: center;">
                            <div class="logo" style="display: inline-block; margin: 0px auto;"><a href="/"><img id="logo" src="/images/ccf_logo.png" alt="CCF Logo" height="100"/></a></div>
                            <div class="headerText garamond white-text" style="display: inline-block; margin: 0px auto;">Christian Campus Fellowship<!--<img src="/images/banner.png" alt="Christian Campus Fellowship" height="110"/> --></div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <!--<div class="navigation"> -->
                                <!-- http://www.htmldog.com/articles/suckerfish/dropdowns/ -->
                                <div id="navigation">
                                    <div class="top-level-dropdown">
                                        <div class="nav-btn {{ AboutUsSelected }}">About Us</div>
                                        <div class="nav-dropdown-list">
                                            <a href="/aboutus/beliefs"><div class="nav-dropdown-item">Beliefs</div></a>
                                            <a href="/aboutus/history"><div class="nav-dropdown-item">History</div></a>
                                            <a href="/aboutus/location"><div class="nav-dropdown-item">Location</div></a>
                                            <a href="/aboutus/staff"><div class="nav-dropdown-item">Staff and Officers</div></a>
                                        </div>
                                    </div>
                                    <div class="top-level-dropdown">
                                        <div class="nav-btn {{ CatalystSelected }}">Catalyst</div>
                                        <div class="nav-dropdown-list">
                                            <a href="/catalyst/small_groups"><div class="nav-dropdown-item">Small Groups</div></a>
                                            <a href="/catalyst/semester_series"><div class="nav-dropdown-item">Sermon Series</div></a>
                                            <!-- <a href="/catalyst/top_ten"><div class="nav-dropdown-item">Top Ten</div></a> -->
                                        </div>
                                    </div>
                                    <div class="top-level-dropdown {{ HousingSelected }}">
                                        <div class="nav-btn {{ HousingSelected }}">Housing</div>
                                        <div class="nav-dropdown-list">
                                            <a href="/housing/cch"><div class="nav-dropdown-item">CCH<br/>(for men)</div></a>
                                            <a href="/housing/wcch"><div class="nav-dropdown-item">WCCH</br>(for women)</div></a>
                                        </div>
                                    </div>
                                    <div class="top-level-dropdown {{ AlumniSelected }}">
                                        <div class="nav-btn {{ AlumniSelected }}">Resources</div>
                                        <div class="nav-dropdown-list">
                                            <a href="/resources/freshman"><div class="nav-dropdown-item">Freshman Information</div></a>
                                            <a href="/alumni/past_events"><div class="nav-dropdown-item">Current Events</div></a>
                                            <a href="/resources/partners"><div class="nav-dropdown-item">Our Partners</div></a>
                                        </div>
                                    </div>
                                    <div class="top-level-dropdown">
                                        <a href="/alumni/ministry_happenings"><div class="nav-btn donate-btn">Alumni</div></a>
                                    </div>
                                    <div class="top-level-dropdown">
                                        <a href="/alumni/donate"><div class="nav-btn donate-btn">Donate</div></a>
                                    </div>
                                    {% if manage_pages %}
                                    <!-- {{ manage_pages }} -->
                                    <div class="top-level-dropdown">
                                        <div class="nav-btn">Admin</div>
                                        <div class="nav-dropdown-list">
                                          {% for page_group in manage_pages %}
                                            {% for page in page_group %}
                                                <a href="{{ page[0] }}"><div class="nav-dropdown-item">{{ page[1] }}</div></a>
                                            {% endfor %}
                                          {% endfor %}
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            <!-- </div> -->
                        </td>
                    </tr>
                </table>
            </div>
        {% endblock %}
        <!-- {% if manage_pages %} HIII {% endif %} JJ -->
        <div class="spacer" style="width: 100%; height: 139px; margin: 0px;"></div>
        <!-- <div class="content" style="border: 5px solid red;"> -->
            {% block content %}
                <h1>CONTENT NOT REPLACED</h1>
            {% endblock %}
        <!-- </div> -->
        <section  id="footer" class="content-dark-2" style="text-align: center;">
            <a target="_blank" style="float:left; padding-right: 5px;"
               href="https://facebook.com/pages/Christian-Campus-Fellowship-Rolla/72707359940">
                <img src="/images/Facebook_icon.png" height="40" width="40" alt="Rolla CCF Facebook page">
            </a>
            <a target="_blank" style="float:left; padding-right: 5px;"
               href="https://www.youtube.com/channel/UCSO3S8xYxcXN-QgR-7hF5vg">
                <img src="/images/Youtube_icon.png" height="40" width="40" alt="Rolla CCF Youtube Channel">
            </a>
            <a target="_blank" style="float:left; padding-right: 5px;"
               href="https://www.youtube.com/channel/UCSO3S8xYxcXN-QgR-7hF5vg">
                <img src="/images/Instagram_icon.png" height="40" width="40" alt="Rolla CCF Instagram">
            </a>
            <!--
            <a target="_blank" style="float:left; padding-right: 5px;"
               href="https://www.youtube.com/channel/UCSO3S8xYxcXN-QgR-7hF5vg">
                <img src="/images/GooglePlus_icon.png" height="40" width="40" alt="Rolla CCF Google+">
            </a>
          -->
            <a target="_blank" style="float:left; padding-right: 5px;"
               href="https://twitter.com/rollaccf?ref_src=twsrc%5Etfw&ref_url=http%3A%2F%2Flocalhost%3A8080%2F">
                <img src="/images/Twitter_icon.png" height="40" width="40" alt="Rolla CCF Twitter">
            </a>
            <p class="garamond medium-text" style="position: relative; left: -110px;">
                <a class="maskedLink garamond medium-text dark-link" style="color:white" target="_blank"
                   href="https://www.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Christian+Campus+House,+East+12th+Street,+Rolla,+MO&amp;aq=0&amp;oq=christian+campus&amp;sll=37.0625,-95.677068&amp;sspn=59.119059,79.013672&amp;t=m&amp;ie=UTF8&amp;hq=Christian+Campus+House,&amp;hnear=E+12th+St,+Rolla,+Phelps,+Missouri+65401&amp;ll=37.952962,-91.769829&amp;spn=0.008121,0.013733&amp;z=16&amp;iwloc=A">112
                    E 12th Street, Rolla MO, 65401</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a class="maskedLink garamond large-text dark-link" style="color:white" href="mailto:ccf@mst.edu">ccf@mst.edu</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                573-341-3567
            </p>
            <!-- webmaster@rollaccf.org -->
            <!-- https://css-tricks.com/the-blur-up-technique-for-loading-background-images/ -->
        </section>
<!-- </div>
</div> -->
</body>
</html>
