{% extends "base.html" %}

{% block title -%}
    Christian Campus Fellowship, Rolla Missouri
{%- endblock %}

{% block meta -%}
    Christian Fellowship and Housing in Rolla Missouri
{%- endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        var currentSlideNumber = 0;
        var totalNumberOfSlides = {{slides|length}};
        var intervalID;

        function goToSlide(slideNumber) {
            <!-- For the cases when this function is not called from advanceSlide() -->
            currentSlideNumber = slideNumber;
            window.clearInterval(intervalID);
            intervalID = window.setInterval(advanceSlide, {{HomepageSlideRotationDelay}});

            $(".slide-bullet").removeClass("slide-bullet-active");
            $("#slide-bullet-" + slideNumber).addClass("slide-bullet-active");
            $(".slide-image").fadeOut("slide-image-active");
            $("#slide-image-" + slideNumber).fadeIn("slide-image-active");
        }
        function advanceSlide() {
            currentSlideNumber = (currentSlideNumber + 1) % totalNumberOfSlides;
            goToSlide(currentSlideNumber);
        }

        intervalID = window.setInterval(advanceSlide, {{HomepageSlideRotationDelay}});
    </script>
{% endblock %}

{% block css %}
    {{ super() }}
    <link type="text/css" rel="stylesheet" href="/stylesheets/picture_slideshow.css"/>
    <link type="text/css" rel="stylesheet" href="/stylesheets/index.css"/>
{% endblock %}

{% block content %}
    <div id="fb-root"></div>
      <script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=101950346872";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));</script>
    <section class="homepage-slideshow">
        {% for slide in slides %}
            <a href="{{ slide.CompleteURL }}" id="slide-image-{{ loop.index0 }}" class="slide-image{% if loop.first %} slide-image-active{% endif %}">
                <div class="slide-image-crop"><img class="slide-image-blur" src="/image/{{ slide.key.urlsafe() }}" alt="{{ slide.Title }}"/></div>
                <div class="slide-image-dark"></div>
                <div class="slide-image-outer"><img class="slide-image-img" src="/image/{{ slide.key.urlsafe() }}" alt="{{ slide.Title }}"/></div>
            </a>
        {% else %}
            <div style="width:600px; height:450px;" class="homepage-slideshow-inner">No Slides</div>
        {% endfor %}
        <div class="homepage-slideshow-nav">
            {% for slide in slides %}
                <span id="slide-bullet-{{ loop.index0 }}"
                      class="slide-bullet {% if loop.first %}slide-bullet-active{% endif %}"
                      onclick="goToSlide({{ loop.index0 }});">&bull;</span>
            {% else %}
                <span class="slide-bullet">&bull;</span>
            {% endfor %}
        </div>
    </section>
    <section class="separator-brown" style="position: relative;">
        <h2>Who We Are</h2>
    </section>
    <section class="content">
      <p style="margin-top: 40px;"></p>
      <table>
        <tr>
          <td>
            <p class="large-text josefin" style="padding: 0px 30px;"><strong>Christian Campus Fellowship</strong> exists to <strong>reach</strong> non believing
            students, nurture <strong>fellowship</strong> among believers, <strong>deepen knowledge</strong> of and <strong>love</strong>
            for our <strong>Lord and Savior Jesus Christ</strong>, and to <strong>encourage</strong> one another to <strong>serve</strong>
            and <strong>worship</strong> God.</p>
          </td><td>
            <img src="/images/ccf-group-picture.jpg" style="width: 500px;" class="ccf-picture"/>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <p class="josefin large-text bold-text">Subscribe to the CCF Mailing List</p>
            <p class="josefin medium-text" style="margin-left: 15px;">The messages that are sent out contain CCF events, prayer requests, and service opportunities.</p>
            <form action="http://groups.google.com/a/mst.edu/group/ccf-list-grp/boxsubscribe">
                <label for="email" class="josefin medium-text" style="margin-left: 15px;">Email:</label>
                <input type="text" placeholder="larry@the-cucumber.com" name="email" id="email" style="width:150px;"/>
                <input type="submit" name="sub" value="Subscribe">
            </form>
          </td>
        </tr>
      </table>
    </section>
    <section class="separator-gray" style="position: relative;">
      <h2>Connect With Us</h2>
    </section>
    <section class="content-dark">
      <table>
        <tr>
          <td>
            <div class="agenda">
                <iframe src="https://www.google.com/calendar/b/0/embed?title=Upcoming%20CCF%20Events&amp;showNav=0&amp;showDate=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;mode=AGENDA&amp;height=500&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=8ocodjbo954qnon06un10ols28%40group.calendar.google.com&amp;color=%23BE6D00&amp;ctz=America%2FChicago" style=" border-width:0 " width="300" height="500" frameborder="0" scrolling="no"></iframe>
            </div>
          </td><td>
            <div class="twitter">
              <a class="twitter-timeline" data-theme="light" data-link-color="#2B7BB9" href="https://twitter.com/rollaccf">Tweets by rollaccf</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            </div>
          </td><td>
            <div class="fb-page" data-href="https://www.facebook.com/CCFRolla/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
              <blockquote cite="https://www.facebook.com/CCFRolla/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/CCFRolla/">Christian Campus Fellowship - Rolla</a></blockquote>
            </div>
          </td>
        </tr>
      </table>
    </section>
{% endblock %}
