{% extends "base.html" %}

{% block css %}
    {{ super() }}
    <style>
        div.content {
            /* temporary workaround of crbug.com/117102 */
            overflow: auto;
        }
    </style>
{% endblock %}

{% block content %}
    <section class="separator-brown manage-spacer" style="position: relative;">
        <h2>{{slide.Title}}</h2>
    </section>
    <section class="content content-full center-text">
      <img src="/image/{{ slide.key.urlsafe() }}" style="width: 80%; box-shadow: 5px 5px 15px rgba(32, 32, 32, 0.3);"/>
      {{ slide.Html|safe }}
    </section>
{% endblock %}
