{% extends "base.html" %}

{% block title -%}
    CCF Staff
{%- endblock %}

{% block meta -%}
    Who works at the Christian Campus Fellowship
{%- endblock %}

{% block css %}
    {{ super() }}
    <style>
        #studentOfficers table {
            font-size: 14px;
            text-align: center;
        }

        #studentOfficers td {
            width: 12.5%;
        }
    </style>
{% endblock %}

{% block content %}
<section class="separator-brown" style="position: relative;">
    <h2>Our Staff</h2>
</section>
<section class="content">
    {% for StaffPosition in StaffPositions %}
        <div style="overflow:auto">
            <img src="/image/{{ StaffPosition.key.urlsafe() }}" alt="{{ StaffPosition.Name }}" style="float:left; margin:10px 0 10px 10px"height="123" width="147"/>

            <div style="margin-left:170px">
                <p><span class="josefin large-text bold-text">{{ StaffPosition.Name }}</span></p>

                <p class="josefin medium-text">{{ StaffPosition.Description }}.</p>

                <p class="josefin medium-text">Email {{ StaffPosition.Name }} at <a href="mailto:{{ StaffPosition.Email }}">{{ StaffPosition.Email }}</a></p>
            </div>
        </div>
        <hr/>
    {%  endfor %}
</section>
<section class="separator-gray" style="position: relative;">
    <h2>Our Board of Directors</h2>
</section>
<section class="content-dark">
    <div id="boardOfDirectors">
        <div style="text-align:center">
            <p style="padding-left: 100px; padding-right: 100px" class="josefin medium-text">
            Dan Oerther, Kenny Salts, Jeremy Jamison, Myrlen Troutt, Sherry Duley, Becky Rich, Mike Kleeschulte,
            Scott Robinson, Lon/Janet West, Lowell Winn
            </p>
        </div>
    </div>
    <br/><br/>
</section>
<section class="separator-gray" style="position: relative;">
    <h2>Our Student Officer Team</h2>
</section>
<section class="content-dark">
    <div id="studentOfficers">
        <table frame="box" rules="rows" cellpadding="5" style="border: 0px solid transparent;">
            <tr>
                {% for officer in studentOfficers %}
                    <td>
                        <img src="/image/{{ officer.key.urlsafe() }}" alt="{{ officer.Name }}" width="100" />
                    </td>
                    <td>
                        <p class="josefin medium-text bold-text">{{ officer.Position }}</p>

                        <p class="josefin medium-text">
                            {{ officer.Name }}<br/>
                            <i>{{ officer.Grade }}</i><br/>
                            {{ officer.Major }}<br/>
                        </p>

                        <p class="josefin medium-text">
                            <a href="mailto:{{ officer.Email }}">{{ officer.Email }}</a>
                        </p>
                    </td>
            {% if loop.index % 4 == 0 %}
            </tr>
                {% if not loop.last %}
                    <tr>
                {% endif %}
            {% endif %}
                {% endfor %}
                {# Lets insert the rest of the cols in this row #}
                {% if studentOfficers|length % 4 != 0 %}
                    {% for n in range(4 - studentOfficers|length % 4) %}
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    {% endfor %}
                    </tr>
                {% endif %}
        </table>
    </div>
</section>
{% endblock %}
