{% extends "manage/manage-base.html" %}

{% block title -%}
    CCF Manage Newsletter Archive
{%- endblock %}

{% block meta -%}
    Manage Newsletter Archive
{%- endblock %}

{% block content %}
<section class="separator-brown manage-spacer" style="position: relative;">
    <h2>Newsletter</h2>
</section>
<section class="content" style = " min-height: calc( 100% - 168px - 183px - 34px ) !important; overflow: auto;">
    <h1>Upload a Newsletter</h1>
    <form action="{{ uploadURL }}" method="POST" enctype="multipart/form-data">
        <div>Title: <input type="text" name="title"/></div>
        <div>Upload File: <input type="file" name="file"></div>
        <div><input type="submit" name="submit" value="Submit"></div>
    </form>

    <hr/>
    <table>
        {% for Newsletter in Newsletters %}
            <tr>
                <td>[<a href="/manage/newsletter_archive/delete/{{ Newsletter.key.urlsafe() }}"
                        style="color:red; text-decoration:none;" title="Permanently delete this entry"
                        onclick="return confirm('Are you sure you want to permanently delete \'{{ Newsletter.Title }}\'? There is no way to reverse this.')">X</a>]
                </td>
                <td>
                    {% if loop.first %}
                        [<span class="displayOrderArrow" style="color:grey;">&uArr;</span>
                    {% else %}
                        [<a href="/manage/newsletter_archive/order/u/{{ Newsletter.DisplayOrder }}"
                            class="displayOrderArrow">&uArr;</a>
                    {% endif %}

                    {% if loop.last %}
                        <span class="displayOrderArrow" style="color:grey;">&dArr;</span>]
                    {% else %}
                        <a href="/manage/newsletter_archive/order/d/{{ Newsletter.DisplayOrder }}"
                           class="displayOrderArrow">&dArr;</a>]
                    {% endif %}
                </td>
                <td>{{ Newsletter.Title }}</td>
                <td><a target="_blank"
                       href="/manage/newsletter_archive/serve/{{ Newsletter.NewsletterBlob }}">pdf</a></td>
            </tr>
        {% endfor %}
    </table>
</section>
{% endblock %}
