{% extends "base.html" %}

{% block title -%}
    CCF Past Events
{%- endblock %}

{% block meta -%}
    Past Events Christian Campus Fellowship participated in
{%- endblock %}

{% block content %}
<section class="separator-brown" style="position: relative;">
    <h2>Past Events</h2>
</section>
<section class="content" style="min-height: calc( 100% - 168px - 183px ) !important; overflow: auto;">
    <p class="garamond medium-text">Future home of a photo and video archive of CCF events and happenings</p>
</section>
{% endblock %}
