div.left-side {
    width: 330px;
    padding: 7px;
    margin-bottom: 20px;
    margin-left: 10px;
    color: black;
    float: left;
}

div.right-side {
    margin-right: 10px;
    width: 580px;
    float: right;
}

div.right-half {
    height: 430px;
    padding: 7px;
    float: left;
    width: 270px;
    font-size: 20px;
    text-align: center;
}

div.right-full {
    margin-bottom: 10px;
    padding: 30px 7px;
    text-align: center;
    clear: both;
    font-style: italic;
    font-size: 22px;
}

h5.oWeekDayHeader {
    margin-bottom: 5px;
    border-bottom: 1px solid black;
}

p.oWeekDayDescription {
    margin-top: 1px;
    text-align: center;
    margin-bottom: 8px;
}
