table.housing-sidebyside {
    width: 100%;
}
table.housing-sidebyside td.housing-sidebyside {
    width: 50%;
    padding: 10px 0 10px 0;
    vertical-align: top
}

table.references {
    width: 100%;
}
table.references td {
    width: 50%;
}

.housing-box-outer {
    padding: 3px 5px;
    margin-bottom: 5px;
}

.housing-box-textarea {
    margin-top:10px;
    padding: 5px 20px;
}

.housing-application-input {
    width: calc(100% - 40px);
    margin-top: 0;
    margin-bottom: 8px;
}

.housing-application-textarea {
    width: 915px;
    height: 100px;
}

.housing-application-radio {
    list-style-type: none;
    margin-top: 0;
}

.housing-application-radio li {

}

.error {
    color: red;
    font-weight: bold;
}

.errors {
    color: red;
    list-style-type: none;
}
