/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */
#navigation-dropdown {
  padding: 0;
  margin: 0;
}

#navigation-dropdown a {
  text-decoration: none;
  color: black;
}

.top-level-dropdown {
  display: inline;
  float: left;
  width: 194px;
  height: 19px;
  margin-right: 0px;
  padding: 5px 0px 5px 0px;
  background-color: white;
  /* required for firefox 13 */
  line-height: 19px;
  text-align: center;
  border: 1px solid transparent;
  cursor: default;
}

.top-level-dropdown:last-of-type {
  margin-right: 0;
}

.top-level-dropdown:hover {
  /* if the border size increases, the width and height
     need to be decreased by 2*AMOUNT_INCREASED. Same for
     decreasing the border size

    #navigation-dropdown .nav-menu-list also needs to be decreased by AMOUNT_INCREASED.
  */
  background-color: rgb(255, 176, 0);
  border-left: rgb(255, 143, 0) 1px solid;
  border-right: rgb(255, 143, 0) 1px solid;
}

.top-level-dropdown-selected {
  background-color: rgb(255, 188, 47);
}

.nav-menu-list {
  position: absolute;
  width: 194px;
  left: -1000em;
  padding: 5px 0px;
  margin-top: 6px;
  margin-left: -1px;
  background-color: rgba(255, 143, 0, 0.95);
  border: 1px solid rgb(255, 143, 0) !important;
  margin-bottom: 0px;
  box-shadow: 0px 5px 30px -10px rgba(32, 32, 32, 0.4) inset;
}

.top-level-dropdown:hover .nav-menu-list  {
  left: auto;
  border: none;
}

.nav-menu-item  {
  display: block;
  width: 194px;
  padding: 5px 0px 5px 0px;
}

.nav-menu-item:hover {
  background-color: #FFBA00;
}
