/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

div#navigation {
    border-top: 0px solid transparent;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 998;
    position: relative;
    /*box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);*/
}

div.top-level-dropdown {
    display: inline-block;
    border: 1px solid transparent;
    width: 150px;
    padding: 0px 10px;
}

div.nav-btn:hover, div.top-level-dropdown:hover > div.nav-btn {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(255, 255, 255);
}

div.nav-btn {
    border: 1px solid transparent;
    background-color: transparent;
    height: 20px;
    width: 100%;
    color: black;
    display: inline-block;
    margin: 0px auto;
    text-shadow: none;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

div.top-level-dropdown:hover > div.nav-btn {
  color: black;
}

div.nav-dropdown-item {
    border: 1px solid transparent;
    background-color: transparent;
    height: 20px;
    width: 148px;
    color: black;
    padding: 5px 10px;
    margin: 0px auto;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

div.nav-dropdown-item:hover {
  background-color: rgba(32, 32, 32, 0.2);
}

div.nav-dropdown-list > a {
  text-decoration: none;
}

div.nav-dropdown-list {
    display: none;
    position: absolute;
    background-color: rgba(220, 220, 220, 0.95);
    border: 1px solid rgb(220, 220, 220);
}

div.top-level-dropdown:hover div.nav-dropdown-list {
    display: block;
}

