/* http://www.htmldog.com/articles/suckerfish/dropdowns/ */

div#navigation {
    border-top: 0px solid transparent;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: block;
    text-align: center;
    z-index: 998;
    position: relative;
    /*box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.6);*/
}

div.top-level-dropdown {
    display: inline-block;
    border: 1px solid transparent;
    width: 150px;
    padding: 5px 10px;
}

div.top-level-dropdown:hover {
  background-color: rgb(0, 147, 207);
  border: 1px solid rgb(0, 116, 163);
}

div.nav-btn {
    border: 1px solid transparent;
    background-color: transparent;
    height: 20px;
    width: 100%;
    color: black;
    display: inline-block;
    margin: 0px auto;
    text-shadow: none;
    cursor: pointer;
}

div.top-level-dropdown:hover > div.nav-btn {
  color: black;
}

div.nav-dropdown-item {
    border: 1px solid transparent;
    background-color: transparent;
    height: 20px;
    width: 148px;
    color: black;
    padding: 5px 10px;
    margin: 0px auto;
    text-shadow: none;
    text-decoration: none;
    cursor: pointer;
}

div.nav-dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

div.nav-dropdown-list > a {
  text-decoration: none;
}

div.nav-dropdown-list {
    display: none;
    position: absolute;
    background-color: rgba(0, 116, 163, 0.95);
    border: 1px solid rgb(0, 147, 207);
    margin-top: 5px;
    transform: translateX(-11px)
}

div.top-level-dropdown:hover div.nav-dropdown-list {
    display: block;
}